@charset "UTF-8";

@font-face {
  font-family: 'Locator';
  src: local('Locator'), url('../fonts/Locator.otf') format('truetype');
}
@font-face {
  font-family: 'Locator-medium';
  src: local('Locator-medium'),
    url('../fonts/Locator-medium.otf') format('truetype');
}

$regular: 'Montserrat', sans-serif;
$button: black;
$buttonHover: #f75172; 
$pink-dark:white;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-kerastase.es-kerastase {
  font-family: $regular;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #000;
  }
  .es-kv {
    &__swiper {
      width: 100%;
      max-height: 100%;
    }
    
    &__swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
    
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    
    &__swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__content{
      width: 80%;
      margin: 0 auto;
      padding: 20px;
    }
    &__title {
      @include text;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 700;
    }
    &__subtitle {
      @include text;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 300;
    }
    &__text {
      @include text;
      font-size: 17px;
      font-weight: 400;
      padding-top: 20px;
    }
    &__link {
      margin: 10px auto;
      padding: 0;
      display: inline-block;
      padding: 8px 35px;
      text-decoration: none;
      color: #fff;
      border-radius: 4px;
      font-size: 10px;
      font-weight: 500;
      text-align: center;
      background: linear-gradient(to right, $buttonHover 50%, $button 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
      &:hover {
        background-position: left bottom;
      }
    }  
  }
  .es-about {
    margin: 20px auto 10px;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 10px;
    }
    &__tile {
      max-width: 490px;
      height: 100%;
    }
    &__image {
      @include img;
      object-fit: cover;
    }
    &__text {
      @include text;
      font-size: 13px;
      padding: 30px;
    }
  }
  .es-about-2 {
    margin: 0 auto 20px;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 10px;
    }
    &__tile {
      max-width: 490px;
      height: 100%;
      position: relative;
    }
    &__content {
      position: absolute;
      text-align: center;
      top:25%;
      left:4%;
      &--1{
        width: 62%;
      }
      &--2 {
        width: 47%;
      }
    }
    &__title {
      @include text;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      padding-bottom: 10px;
    }
    &__image {
      @include img;
      object-fit: cover;
    }
    &__text {
      @include text;
      font-size: 11px;
    }

    &__link {
      margin: 10px auto;
      padding: 0;
      display: inline-block;
      padding: 8px 35px;
      text-decoration: none;
      color: #fff;
      border-radius: 4px;
      font-size: 10px;
      font-weight: 500;
      text-align: center;
      background: linear-gradient(to right, $buttonHover 50%, $button 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
      &:hover {
        background-position: left bottom;
      }
    }
  }
  @media screen and (max-width: 430px) {
    .es-about-2 {
      &__content {
        top: 12%;
      }
    }
  }
.es-separate {
  width: 100%;
  height: 3px;
  background-color: #eeeeee;
  margin: 40px 0;
}
.es-most-loved {
  padding: 1px;
  position: relative;
  &__title {
    @include text;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }
  &__swiper {
    width: 85%;
    max-height: 100%;
    overflow: hidden;
  }
  &__swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 210px;
  }
  
  &__swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev-most-loved {
    top: 45%;
    left: 0;
    right: auto;
  }
  .swiper-button-next-most-loved {
    top: 45%;
    right: 0;
    left: auto;
  }
  .swiper-button-prev-most-loved::after {
    display: none;
  }
  .swiper-button-next-most-loved::after {
    display: none;
  }
  &__arrow {
    @include img;
  }
  &__product {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &:hover .es-most-loved__link::before {
      transform: scaleX(1);
    }
    &:hover .es-most-loved__packshot {
      transform: translateY(-8px);
    }
  }
  &__packshot {
    border: 2px solid #eeeeee;
    border-radius: 5px;
    transition: transform 0.6s;
    margin-bottom: 24px;
  }
  &__text {
    @include text;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }
  &__desc {
    @include text;
    margin-bottom: 8px;
    font-size: 16px;
  }
  &__link {
    margin: 10px auto;
    padding: 0;
    display: inline-block;
    padding: 8px 35px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, $buttonHover 50%, $button 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    &:hover {
      background-position: left bottom;
    }
  }
  &__img {
    @include img;
    transition: all 0.3s ease-in-out;
  }
}

.es-hair-type {
  padding: 1px;
  position: relative;
  &__title {
    @include text;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }
  &__swiper {
    width: 85%;
    max-height: 100%;
    overflow: hidden;
  }
  &__swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 210px;
  }
  
  &__swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev-hair-type {
    top: 45%;
    left: 0;
    right: auto;
  }
  .swiper-button-next-hair-type {
    top: 45%;
    right: 0;
    left: auto;
  }
  .swiper-button-prev-hair-type::after {
    display: none;
  }
  .swiper-button-next-hair-type::after {
    display: none;
  }
  &__arrow {
    @include img;
  }
  &__product {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &:hover .es-hair-type__link::before {
      transform: scaleX(1);
    }
    &:hover .es-hair-type__packshot {
      transform: translateY(-8px);
    }
  }
  &__packshot {
    // border: 2px solid #eeeeee;
    // border-radius: 5px;
    transition: transform 0.6s;
    margin-bottom: 24px;
  }
  &__text {
    @include text;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  &__desc {
    @include text;
    margin-bottom: 8px;
    font-size: 16px;
  }
  &__link {
    margin: 10px auto;
    padding: 0;
    display: inline-block;
    padding: 8px 35px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, $buttonHover 50%, $button 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    &:hover {
      background-position: left bottom;
    }
  }
  &__img {
    @include img;
    transition: all 0.3s ease-in-out;
  }
}

.es-discover {
  padding: 1px;
  position: relative;
  &__title {
    @include text;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }
  &__swiper {
    width: 85%;
    max-height: 100%;
    overflow: hidden;
  }
  &__swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 210px;
  }
  
  &__swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev-discover {
    top: 45%;
    left: 0;
    right: auto;
  }
  .swiper-button-next-discover {
    top: 45%;
    right: 0;
    left: auto;
  }
  .swiper-button-prev-discover::after {
    display: none;
  }
  .swiper-button-next-discover::after {
    display: none;
  }
  &__arrow {
    @include img;
  }
  &__product {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &:hover .es-discover__link::before {
      transform: scaleX(1);
    }
    &:hover .es-discover__packshot {
      transform: translateY(-8px);
    }
  }
  &__packshot {
    border: 2px solid #eeeeee;
    border-radius: 5px;
    transition: transform 0.6s;
    margin-bottom: 24px;
  }
  &__text {
    @include text;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }
  &__desc {
    @include text;
    margin-bottom: 8px;
    font-size: 16px;
  }
  &__link {
    margin: 10px auto;
    padding: 0;
    display: inline-block;
    padding: 8px 35px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, $buttonHover 50%, $button 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    &:hover {
      background-position: left bottom;
    }
  }
  &__img {
    @include img;
    transition: all 0.3s ease-in-out;
  }
}

.es-discover-2 {
  padding: 1px;
  position: relative;
  &__title {
    @include text;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }
  &__swiper {
    width: 85%;
    max-height: 100%;
    overflow: hidden;
  }
  &__swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 208px;
  }
  
  &__swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev-discover-2 {
    top: 45%;
    left: 0;
    right: auto;
  }
  .swiper-button-next-discover-2 {
    top: 45%;
    right: 0;
    left: auto;
  }
  .swiper-button-prev-discover-2::after {
    display: none;
  }
  .swiper-button-next-discover-2::after {
    display: none;
  }
  &__arrow {
    @include img;
  }
  &__product {
    padding: 12px 5px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &:hover .es-discover-2__link::before {
      transform: scaleX(1);
    }
    &:hover .es-discover-2__packshot {
      transform: translateY(-8px);
    }
  }
  &__packshot {
    border: 4px solid #fff;
    box-shadow: 0px 0px 5px 0px rgba(114, 120, 123, 1);
    border-radius: 5px;
    transition: transform 0.6s;
    margin-bottom: 24px;
  }
  &__text {
    @include text;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  &__desc {
    @include text;
    margin-bottom: 8px;
    font-size: 16px;
  }
  &__link {
    margin: 10px auto;
    padding: 0;
    display: inline-block;
    padding: 8px 35px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, $buttonHover 50%, $button 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    &:hover {
      background-position: left bottom;
    }
  }
  &__img {
    @include img;
    transition: all 0.3s ease-in-out;
  }
}

.es-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  & iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.es-value {
  padding: 0;
  background-color: #f8f8fa;
  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__content {
    text-align: center;
    padding: 0 20px;
    min-width: 380px;
    max-width: 540px;
  }
  &__title {
    @include text;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
  }
  &__text {
    @include text;
    font-size: 15px;
  }
  &__img {
    @include img;
  }
}
@media screen and (max-width: 560px) {
  .es-value {
    &__title {
      font-size: 20px;
    }
    &__text {
      font-size: 12px;
    }
  }
}

.es-articles {
  &__link {
    text-decoration: none;
    color: #000;
  }
  &__title {
    @include text;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__product {
    width: 242px;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &:hover .es-articles__product::before {
      transform: scaleX(1);
    }
    &:hover .es-articles__packshot {
      transform: translateY(-8px);
    }
  }
  &__packshot {
    border-radius: 5px;
    transition: transform 0.6s;
    margin-bottom: 24px;
  }
  &__text {
    @include text;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  &__desc {
    @include text;
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
  }
  &__img {
    @include img;
    transition: all 0.3s ease-in-out;
  }
}

.es-footer {
  padding-bottom: 20px;
  &__text {
    @include text;
    text-align: center;
    font-size: 12px;
  }
}

  @media screen and (min-width: 728px) {
    .es-kv {
      &__swiper-slide {
        position: relative;
      }
      &__content {
        width: 55%;
        padding: 0 40px;
        position: absolute;
        top: 25%;
        right: 0;
      }

      &__title {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
      }
      &__subtitle {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
      }
      &__text {
        font-size: 12px;
        padding-top: 20px;
      }
    }
  
  }
}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}