@charset "UTF-8";

@font-face {
  font-family: 'Locator';
  src: local('Locator'), url('../fonts/Locator.otf') format('truetype');
}
@font-face {
  font-family: 'Locator-medium';
  src: local('Locator-medium'),
    url('../fonts/Locator-medium.otf') format('truetype');
}

$regular: 'Montserrat', sans-serif;
$pink: #f08ab5;
$yellow: #f7dd52;
$pink-light: #f2e4e5;
$pink-dark: #980c75;
$button: #f5835a;
$primary: #f47242;
$secondary: #f75172;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-kerastase.es-kerastase {
  font-family: $regular;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #000;
  }
  .es-kv {
    &__swiper {
      width: 100%;
      max-height: 100%;
    }
    
    &__swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
    
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    
    &__swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__content{
      width: 80%;
      margin: 0 auto;
      padding: 20px;
    }
    &__title {
      @include text;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 700;
    }
    &__subtitle {
      @include text;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 300;
    }
    &__text {
      @include text;
      font-size: 17px;
      font-weight: 400;
      padding-top: 20px;
    }
    &__link {
      margin: 20px auto 15px;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      position: relative;
      display: inline-block;
      padding: 8px 35px;
      text-decoration: none;
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      transition: all 0.3s ease-in-out !important;
      background: black;
      transition: color 0.3s ease-in-out !important;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        border-radius: 4px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #980c75;
        transition: transform 0.3s ease-in-out !important;
        transform: scaleX(0);
        transform-origin: left;
      }
    }
  }
  .es-about {
    margin: 20px auto 0;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 0 0px;
    }
    &__tile {
      padding: 10px;
      max-width: 480px;
      height: 100%;
    }
    &__image {
      @include img;
      object-fit: cover;
    }
    &__text {
      @include text;
      font-size: 13px;
      padding: 30px;
    }
  }
  .es-about-2 {
    margin: 0 auto 20px;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10 0;
    }
    &__tile {
      padding: 10px;
      max-width: 480px;
      height: 100%;
      position: relative;
    }
    &__content {
      position: absolute;
      text-align: center;
      top:25%;
      left:4%;
      &--1{
        width: 62%;
      }
      &--2 {
        width: 47%;
      }
    }
    &__title {
      @include text;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      padding-bottom: 10px;
    }
    &__image {
      @include img;
      object-fit: cover;
    }
    &__text {
      @include text;
      font-size: 11px;
    }

    &__link {
      margin: 10px auto;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      position: relative;
      display: inline-block;
      padding: 8px 35px;
      text-decoration: none;
      color: #fff;
      border-radius: 4px;
      font-size: 10px;
      font-weight: 500;
      text-align: center;
      transition: all 0.3s ease-in-out !important;
      background: black;
      transition: color 0.3s ease-in-out !important;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        border-radius: 4px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #980c75;
        transition: transform 0.3s ease-in-out !important;
        transform: scaleX(0);
        transform-origin: left;
      }
    }
  }
  @media screen and (max-width: 430px) {
    .es-about-2 {
      &__content {
        top: 12%;
      }
    }
  }

  @media screen and (min-width: 728px) {
    .es-kv {
      &__swiper-slide {
        position: relative;
      }
      &__content {
        width: 55%;
        padding: 0 40px;
        position: absolute;
        top: 25%;
        right: 0;
      }

      &__title {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
      }
      &__subtitle {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
      }
      &__text {
        font-size: 12px;
        padding-top: 20px;
      }
    }
  
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}